on:
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  build-and-test:
    name: "Build"
    runs-on: ubuntu-latest

    steps:
      - name: Hello world action step
        run: echo "Hello world"
