on:
  workflow_dispatch:
  push:
    branches:
    - main
    paths:
      - 'apps/app1/**' # Só dispara se houver mudanças aqui


jobs:
  build-and-test:
    name: "Build"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - script: |
          npm install
        working-directory: ./apps/app1
        displayName: 'npm install'
      
